body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#content {
    margin-top: 50vh;
    transform: translateY(-80%);
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px;
}

#input {
    width: 100%;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    border: none;
    outline: none;
}

#progress {
    background-color: #f1f1f1;
    height: 24px;
    width: 400px;
    margin: 5px auto;
    --progress: 0;
}

#progress::after {
    counter-reset: progress var(--progress);
    content: counter(progress) "%";
    display: block;
    transition: width 0.2s;
    overflow: hidden;
    width: calc(var(--progress) * 1%);
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: white;
    background-color: #4caf50;
}